<html>
<head>
    <title>PostDog</title>
    <link rel="shortcut icon" type="image/x-icon"
          href="/images/icon_app.ico"
          media="screen"/>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-4 column">
        </div>
        <div class="col-md-8 column">
        </div>
    </div>
</div>
</body>
</html>
